.slider{
  position: relative;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}
.image{
  width:100%;
  height:100%;
  border-radius: 10px;
  
}
.prev{
  position: absolute;
  top: 50%;
  font-size: 3rem;
  left: 30px;
  cursor: pointer;
}
.next{
  position: absolute;
  top: 50%;
  font-size: 3rem;
  right: 30px;
  cursor: pointer;
}
.slide{
  opacity: 0;
  transition-duration:1s ease ;
}
.slide.active{
  opacity:1;
  transition-duration: 1s;
  transform: scale(1.08);
}